<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyQuanCaFe.Properties.Settings.QuanLyQuanCafeConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyQuanCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanCaFe.Properties.Settings.QuanLyQuanCafeConnectionString1"
            connectionString="Data Source=.;Initial Catalog=QuanLyQuanCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanCaFe.Properties.Settings.QuanLyQuanCafeConnectionString2"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=QuanLyQuanCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>